<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Add patient</title>
</head>
<body>

<h1>Form</h1>
<form action="#" th:action="@{/patient/addPatient}" th:object="${patient}" method="post">
    <p>First name: <input type="text" th:field="*{firstName}"/></p>
    <p>Last name: <input type="text" th:field="*{lastName}"/></p>
    <select name="genderOpt" th:field="*{gender}">    
        <option th:each="genderOpt : ${T(uk.wanat.theclinick.model.Gender).values()}"
                th:value="${genderOpt}" th:text="${genderOpt.displayValue}"></option>
    </select>
    <p>Phone number: <input type="text" th:field="*{phoneNumber}"/></p>
    <p>Birth date: <input type="date" th:field="*{birthDate}"/></p>
    <p>National Insurance Number: <input type="text" th:field="*{nationalInsuranceNumber}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>

</body>
</html>