<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/appointment/chooseSpeciality">Find doctor</a><br>
<a href="/patient/addPatient">Add patient</a><br>
<a href="/doctor/addDoctor">Add doctor</a><br>
<a href="/login">Login</a><br>
<a href="/registration">Regiter</a><br>


</body>
</html>